<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<meta charset="ISO-8859-1">
<title>Users</title>
</head>
<body>
	<button type="button" onclick="userCreate()">Create User</button>
	<table id="usersTable" class="usersTable">
		<tr>
			<th>FirstName</th>
			<th>LastName</th>
			<th>Address</th>
			<th>Phone Number</th>
			<th>Department</th>
			<th>Authorities</th>
		</tr>
	</table>

	<button onclick="goBack()">Back</button>

	<script type="text/javascript">
		$.ajax({
			url : "/users",
			dataType : 'json',
			type : "GET",
			cache : false,
			success : function(response) {
				usersToTable(response, document.getElementById("usersTable"));
			}
		});

		var departments;
		$.ajax({
			url : "/departments",
			type : "GET",
			dataType : 'json',
			cache : false,
			success : function(response) {
				departments = response;
			}
		});

		var roles;
		$.ajax({
			url : "/roles",
			type : "GET",
			dataType : 'json',
			cache : false,
			success : function(response) {
				roles = response;
			}
		});
		
		function usersToTable(users, table) {
			while (table.rows.length > 1) {
				table.deleteRow(1);
			}
			for (var i = 0; i < users.length; i++) {
				const tr = document.createElement('tr');

				const fname_td = document.createElement("td");
				const fname_text = document.createElement("input");
				fname_text.setAttribute("id", "fname" + users[i].userID);
				fname_text.value = users[i].fname;
				fname_td.appendChild(fname_text);

				const lname_td = document.createElement("td");
				const lname_text = document.createElement("input");
				lname_text.setAttribute("id", "lname" + users[i].userID);
				lname_text.value = users[i].lname;
				lname_td.appendChild(lname_text);

				const address_td = document.createElement("td");
				const address_text = document.createElement("input")
				address_text.setAttribute("id", "address" + users[i].userID);
				address_text.value = users[i].address;
				address_td.appendChild(address_text);

				const phone_td = document.createElement("td");
				const phone_text = document.createElement("input")
				phone_text.setAttribute("id", "phone" + users[i].userID);
				phone_text.value = users[i].phoneNum;
				phone_td.appendChild(phone_text);

				var select_dep = document.createElement("select");
				select_dep.name="departments";
				select_dep.id="department"+users[i].userID;
				const emptyOption = document.createElement("option");
				emptyOption.value = null;
				emptyOption.text = "None";
				select_dep.appendChild(emptyOption);
				for(const dep of departments){
					const option = document.createElement("option");
					option.value = dep.deptName;
					option.text = dep.deptName;
					select_dep.appendChild(option)
				} 
				if (users[i].dept !== undefined) {
					select_dep.value = users[i].dept.deptName;
				} else {
					select_dep.value = null;
				}

				const auth_td = document.createElement("td");
				var authText = "";
				users[i].authorities.forEach(function(auth) {
					authText += auth.authority + ", "
				})
				if (authText === undefined) {
					authText = "None";
				}
				const auth_text = document.createTextNode(authText);
				auth_td.appendChild(auth_text);

				var userID = users[i].userID;

				const buttonRole_td = document.createElement("td");
				const buttonRole = document.createElement("BUTTON");
				buttonRole.innerHTML = "Roles";
				var addOnClickRole = function(userID){
					buttonRole.onclick = function(){
							window.location.replace("/admin/roles/"+userID);
						}
				}
				addOnClickRole(userID);
				buttonRole_td.appendChild(buttonRole);
				
				const buttonUpdate_td = document.createElement("td");
				const buttonUpdate = document.createElement("BUTTON");
				buttonUpdate.innerHTML = "Update";
				var addOnClickUpdate = function(userID) {
					buttonUpdate.onclick = function() {
						$.ajax({
							url : "/users/",
							type : "PUT",
							data : JSON
									.stringify({
										"userID" : userID,
										"fname" : document
												.getElementById("fname"
														+ userID).value,
										"lname" : document
												.getElementById("lname"
														+ userID).value,
										"address" : document
												.getElementById("address"
														+ userID).value,
										"phoneNum" : document
												.getElementById("phone"
														+ userID).value,
										"department" : document
												.getElementById("department"
														+ userID).value
									}),
							contentType : "application/json",
							cache : false,
							success : function(response) {
							}
						});
					};
				}
				addOnClickUpdate(userID);
				buttonUpdate_td.appendChild(buttonUpdate)

				const buttonDelete_td = document.createElement("td");
				const buttonDelete = document.createElement("BUTTON");
				buttonDelete.innerHTML = "Delete";
				var addOnClickDelete = function(userID) {
					buttonDelete.onclick = function() {
						$.ajax({
							url : "/users/" + userID,
							type : "DELETE",
							dataType : 'json',
							cache : false,
							success : function(response) {
								var row = buttonDelete.parentNode.parentNode;
								row.parentNode.removeChild(row)
							}
						});
					};
				}
				addOnClickDelete(userID);
				buttonDelete_td.appendChild(buttonDelete);

				tr.appendChild(fname_td);
				tr.appendChild(lname_td);
				tr.appendChild(address_td);
				tr.appendChild(phone_td);
				tr.appendChild(select_dep);
				tr.appendChild(auth_td);
				tr.appendChild(buttonRole_td);
				tr.appendChild(buttonUpdate_td);
				tr.appendChild(buttonDelete_td);
				table.appendChild(tr);
			}
		};

		function userCreate() {
			window.location.replace("/admin/users/create");
		}

		function goBack() {
			window.location.replace("../admin")
		}
	</script>
</body>
</html>