<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	
</script>
<meta charset="ISO-8859-1">
<title>Create Department</title>
</head>
<body>
	<p>
		Department Name: <input type="text" id="name">
	</p>
	<p>
		Supervisor: <select name="super" id="super">
		</select>
	</p>

	<button type="button" onclick="createDepartment()">Create
		Department</button>

	<p id="message" class="message"></p>

	<button onclick="goBack()">Back</button>

	<script type="text/javascript">
		$.ajax({
			url : "/users",
			type : "GET",
			dataType : 'json',
			cache : false,
			success : function(response) {
				const superSelect = document.getElementById("super");
				for (var i = 0; i < response.length; i++) {
					var opt = document.createElement("option");
					opt.setAttribute("id", response[i].userID);
					opt.value = response[i].userID + " " + response[i].fname
							+ " " + response[i].lname;
					opt.text = response[i].fname
							+ " " + response[i].lname;
					superSelect.appendChild(opt);
				}
			}
		});

		function createDepartment() {
			const message = document.getElementById("message");
			const supervisor = document.getElementById("super").value;
			const superParts = supervisor.split(" ");
			if (validateInput) {
				$
						.ajax({
							url : "/departments",
							type : "POST",
							dataType : 'json',
							contentType : "application/json",
							data : JSON.stringify({
								"deptName" : document.getElementById("name").value,
								"supervisor" : superParts[0],
							}),
							cache : false,
							statusCode: {
							    200: function() {
									message.innerHTML = "Succesfully created department"
							    },
							    400:function(){
									message.innerHTML = "There was an error while creating the department"
							    }
							}
						});
			}
		}

		function validateInput() {
			if (document.getElementById("name").value === "") {
				document.getElementById("message").innerHTML = "Department name cannot be empty";
				return false;
			}
			return true;
		}
		function goBack() {
			window.location.replace("../department")
		}
	</script>
</body>
</html>