<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	
</script>
<meta charset="ISO-8859-1">
<title>Departments</title>
</head>
<body>
	<button type="button" onclick="depCreate()">Create Department</button>
	<table id="depTable" class="depTable">
		<tr>
			<th>Name</th>
			<th>Supervisor</th>
		</tr>
	</table>

	<p id="message" class="message"></p>
	<button onclick="goBack()">Back</button>
	<p></p>
	<button onclick="logout()">Logout</button>
		<script type="text/javascript">
		var superMap = new Map();
		$.ajax({
			url : "/departments",
			type : "GET",
			dataType : 'json',
			cache : false,
			success : function(response) {
				dep = response;
				depToTable(response, document.getElementById("depTable"));
			}
		});

		function depCreate() {
			window.location.replace("/admin/department/create")
		}
		function depToTable(dep, table) {
			const message = document.getElementById("message");
			while (table.rows.length > 1) {
				table.deleteRow(1);
			}
			var users;
			$
					.ajax({
						url : "/users",
						type : "GET",
						dataType : 'json',
						cache : false,
						success : function(response) {
							users = response;
							users.forEach(function(user) {
								superMap.set(user.userID, user);
							});

							for (var i = 0; i < dep.length; i++) {
								var depId = dep[i].deptID;
								const tr = document.createElement('tr');

								const name_td = document.createElement("td");
								const name_text = document
										.createElement("input");
								name_text.setAttribute("id", "name" + depId);
								name_text.value = dep[i].deptName;
								name_td.appendChild(name_text);

								const superSelect = document
										.createElement("select");
								superSelect
										.setAttribute("id", "select" + depId)
								for (var j = 0; j < users.length; j++) {
									var option = document
											.createElement("option");
									option.setAttribute("id", "superId"
											+ users[j].userID);
									option.value = users[j].userID + " "
											+ users[j].fname + " "
											+ users[j].lname;
									option.text = users[j].userID + " "
											+ users[j].fname + " "
											+ users[j].lname;
									superSelect.appendChild(option);
								}
								var preSelected = superMap.get(dep[i].supervisor);
								superSelect.value = preSelected.userID + " "
										+ preSelected.fname + " "
										+ preSelected.lname;
								const buttonUpdate_td = document
										.createElement("td");
								const buttonUpdate = document
										.createElement("BUTTON");
								buttonUpdate.innerHTML = "Update";
								var addOnClickUpdate = function(depId) {
									buttonUpdate.onclick = function() {
										const selectValue = document
												.getElementById("select"
														+ depId).value;
										const selectValueParts = selectValue
												.split(" ");
										$
												.ajax({
													url : "/departments",
													type : "PUT",
													dataType : 'json',
													contentType : "application/json",
													data : JSON
															.stringify({
																"deptID" : depId,
																"name" : document
																		.getElementById("name"
																				+ depId).value,
																"supervisor" : selectValueParts[0],
															}),
													cache : false,
													statusCode : {
														200 : function() {
															message.innerHTML = "Succesfully updated the department"
														},
														400 : function() {
															message.innerHTML = "There was an error while updating the department"
														}
													}
												});
									};
								}
								addOnClickUpdate(depId);
								buttonUpdate_td.appendChild(buttonUpdate);

								const buttonDelete_td = document
										.createElement("td");
								const buttonDelete = document
										.createElement("BUTTON");
								buttonDelete.innerHTML = "Delete";
								var addOnClickDelete = function(depId) {
									buttonDelete.onclick = function() {
										$
												.ajax({
													url : "/departments/"
															+ depId,
													type : "DELETE",
													cache : false,
													success : function(response) {
														console.log(response)
														var row = buttonDelete.parentNode.parentNode;
														row.parentNode
																.removeChild(row)
													},
													statusCode : {
														200 : function() {
															message.innerHTML = "Succesfully deleted the department"
														},
														400 : function() {
															message.innerHTML = "There was an error while deleting the department"
														}
													}
												});
									};
								}
								addOnClickDelete(depId);

								buttonDelete_td.appendChild(buttonDelete);

								tr.appendChild(name_td);
								tr.appendChild(superSelect);
								tr.appendChild(buttonUpdate_td);
								tr.appendChild(buttonDelete_td);
								table.appendChild(tr);
							}
						}
					});
		}

		function goBack() {
			window.location.replace("../admin")
		}
		function logout() {
			window.location.replace("../../../logout")
		}
	</script>
</body>
</html>