<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>User Roles</title>
</head>
<body>
	<table id="authTable" class="usersTable">
		<tr>
			<th>Authorities</th>
		</tr>
	</table>

	<p>
		Assign new role <select id="authorities"></select>
		<button onclick="assign()">Assign</button>
	</p>

	<p id="message" class="message"></p>

	<button onclick="goBack()">Back</button>

	<script type="text/javascript">
		const userID = window.location.pathname.split("/").pop();
		//get user
		var user;
		$.ajax({
			url : "/users/" + userID,
			dataType : 'json',
			type : "GET",
			cache : false,
			success : function(response) {
				user=response;
				authToTable(response, document.getElementById("authTable"));
				$.ajax({
					url : "/roles",
					dataType : 'json',
					type : "GET",
					cache : false,
					success : function(response) {
						authToSelect(response,user, document.getElementById("authorities"));
					}
				});
			}
		});
		
		
		function authToSelect(authorities,user,select){
			var userAuthorities = new Map();
			for(const userAuth of user.authorities){
				userAuthorities.set(userAuth.authority,userAuth.authority);
			}
			for(const auth of authorities){
				if(userAuthorities.get(auth.authority) === undefined){
					const option = document.createElement("option");
					option.value = auth.authority;
					option.text = auth.authority;
					select.appendChild(option);
				}
			} 
		}
		
		function authToTable(user, table) {
			while (table.rows.length > 1) {
				table.deleteRow(1);
			}

			for (var i = 0; i < user.authorities.length; i++) {
				const tr = document.createElement('tr');

				const auth_td = document.createElement("td");
				const auth_text = document
						.createTextNode(user.authorities[i].authority);
				auth_td.appendChild(auth_text);

				var auth = user.authorities[i].authority;

				const buttonRemove_td = document.createElement("td");
				const buttonRemove = document.createElement("BUTTON");
				buttonRemove.innerHTML = "Remove";
				var addOnClickDelete = function(auth) {
					buttonRemove.onclick = function() {
						$.ajax({
							url : "/users/"+ userID+"/"+auth,
							type : "DELETE",
							cache : false,
							success : function(response) {
								var row = buttonRemove.parentNode.parentNode;
								var auth = row.cells[0].innerHTML
								//re-add removed authority to the available authorities to assign
								const select = document.getElementById("authorities")
								const option = document.createElement("option");
								option.value = auth;
								option.text = auth;
								select.appendChild(option);
								row.parentNode.removeChild(row);
							},
							statusCode:{
								200: function(){
									message.innerHTML = "Succesfully assigned role"
								},
								400:function(){
									message.innerHTML = "There was an error while assigning the role"
								}
							}
						});
					}
				}
				addOnClickDelete(auth);
				
				buttonRemove_td.appendChild(buttonRemove);
				tr.appendChild(auth_td);
				tr.appendChild(buttonRemove_td);
				table.appendChild(tr);

			}
		}
		
		function assign(){
			
			$.ajax({
				url : "/users/"+window.location.pathname.split("/").pop()+"/role",
				type : "PUT",
				data : JSON
						.stringify({
							authority:document.getElementById("authorities").value
						}),
				contentType : "application/json",
				cache : false,
				success : function(response) {
					authToTable(response,document.getElementById("authTable"));
					const auth = document.getElementById("authorities");
					auth.removeChild(auth.querySelector('option[value="' + auth.value + '"]'))
				},
				statusCode:{
					200: function(){
						message.innerHTML = "Succesfully assigned role"
					},
					400:function(){
						message.innerHTML = "There was an error while assigning the role"
					}
				}
			});
		}
		
		function goBack() {
			window.location.replace("../users")
		}
	</script>
</body>
</html>