<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	
</script>
<meta charset="ISO-8859-1">
<title>Create Role</title>
</head>
<body>
	<p>
		Role Name: <input type="text" id="name">
	</p>

	<button type="button" onclick="createRole()">Create Role</button>

	<p id="message" class="message"></p>

	<button onclick="goBack()">Back</button>

	<script type="text/javascript">
		function createDepartment() {
			const message = document.getElementById("message");
			if (validateInput) {
				$
						.ajax({
							url : "/roles",
							type : "POST",
							dataType : 'json',
							data : {
								"name" : document.getElementById("name").value
							},
							cache : false,
							success : function(response) {
								if (response.status === 200) {
									message.innerHTML = "Succesfully created role"

								}
								message.innerHTML = "There was an error while creating the role"

							}
						});
			}
		}

		function validateInput() {
			if (document.getElementById("name").value === "") {
				document.getElementById("message").innerHTML = "Role name cannot be empty";
				return false;
			}
			return true;
		}
		
		function goBack() {
			window.location.replace("../role")
		}
	</script>
</body>
</html>