<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>Admin</title>
</head>
<div sec:authorize="hasRole('ROLE_ADMIN')">
	<h1>Users</h1>
	<button type="button" onclick="usersPage()">View users</button>
	<h2>Departments</h2>
	<button type="button" onclick="departmentsPage()">View
		Departments</button>
	<h3>Roles</h3>
	<button type="button" onclick="rolesPage()">View Roles</button>
</div>
<p></p>
<button onclick="logout()">Logout</button>

<body>
	<script type="text/javascript">
		function usersPage() {
			window.location.replace("/admin/users")
		}

		function departmentsPage() {
			window.location.replace("/admin/department")
		}

		function rolesPage() {
			window.location.replace("/admin/role")
		}

		function logout() {
			window.location.replace("../logout")
		}
	</script>
</body>
</html>