<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	
</script>
<meta charset="ISO-8859-1">
<title>Departments</title>
</head>
<body>
	<button type="button" onclick="depCreate()">Create Department</button>
	<table id="depTable" class="depTable">
		<tr>
			<th>Name</th>
			<th>Supervisor</th>
		</tr>
	</table>

	<button onclick="goBack()">Back</button>

	<script type="text/javascript">
		$.ajax({
			url : "/departments",
			type : "GET",
			dataType : 'json',
			cache : false,
			success : function(response) {
				depToTable(response, document.getElementById("depTable"));
			}
		});

		function depCreate() {
			window.location.replace("/admin/department/create")
		}
		function depToTable(dep, table) {
			while (table.rows.length > 1) {
				table.deleteRow(1);
			}
			var users;
			$
					.ajax({
						url : "/users",
						type : "GET",
						dataType : 'json',
						cache : false,
						success : function(response) {
							users = response;
							for (var i = 0; i < dep.length; i++) {
								var depId = dep[i].deptID;

								const tr = document.createElement('tr');

								const name_td = document.createElement("td");
								const name_text = document
										.createElement("input");
								name_text.setAttribute("id", "name" + depId);
								name_text.value = dep[i].deptName;
								name_td.appendChild(name_text);

								const superSelect = document
										.createElement("select");
								superSelect
										.setAttribute("id", "select" + depId)
								var opt = document.createElement("option");
								opt.setAttribute("id", null);
								opt.value = null;
								opt.text = "None";
								superSelect.appendChild(opt);
								for (var i = 0; i < users.length; i++) {
									var option = document
											.createElement("option");
									option.setAttribute("id", "superId"+users[i].userID);
									option.value = users[i].userID + " "
											+ users[i].fname + " "
											+ users[i].lname;
									option.text = users[i].userID + " "
											+ users[i].fname + " "
											+ users[i].lname;
									superSelect.appendChild(option);
								}

								const buttonUpdate_td = document
										.createElement("td");
								const buttonUpdate = document
										.createElement("BUTTON");
								buttonUpdate.innerHTML = "Update";
								var addOnClickUpdate = function(depId) {
									buttonUpdate.onclick = function() {
										const selectValue = document
												.getElementById("select"
														+ depId).value;
										const selectValueParts = selectValue
												.split(" ");
										$
												.ajax({
													url : "/departments",
													type : "PUT",
													dataType : 'json',
													contentType : "application/json",
													data : JSON.stringify({
														"deptID" : depId,
														"name" : document
																.getElementById("name"
																		+ depId).value,
														"superId" : document
																.getElementById("superId"
																		+ selectValueParts[0]).value,
													}),
													cache : false,
													success : function(response) {
													}
												});
									};
								}
								addOnClickUpdate(depId);
								buttonUpdate_td.appendChild(buttonUpdate);

								const buttonDelete_td = document
										.createElement("td");
								const buttonDelete = document
										.createElement("BUTTON");
								buttonDelete.innerHTML = "Delete";
								var addOnClickDelete = function(depId) {
									buttonDelete.onclick = function() {
										$
												.ajax({
													url : "/departments/"
															+ depId,
													type : "DELETE",
													cache : false,
													success : function(response) {
														console.log(response)
														var row = buttonDelete.parentNode.parentNode;
														row.parentNode
																.removeChild(row)
													}
												});
									};
								}
								addOnClickDelete(depId);

								buttonDelete_td.appendChild(buttonDelete);

								tr.appendChild(name_td);
								tr.appendChild(superSelect);
								tr.appendChild(buttonUpdate_td);
								tr.appendChild(buttonDelete_td);
								table.appendChild(tr);
							}
						}
					});
		}

		function goBack() {
			window.location.replace("../admin")
		}
	</script>
</body>
</html>