<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Human Resources</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>


	<div id="Permits" class="tabcontent">
		<p id="formValidationErrorPermit" class="formValidationError"></p>
		<form>
			<p>
				<select id="searchBy" name="dropdown">
					<option value="Name" selected>Name</option>
					<option value="StartDate">Start Date</option>
					<option value="EndDate">End Date</option>
				</select> <input type="text" id="searchValue" placeholder="Search...">
				<button type="button" onclick="permitSearch()">Search</button>
			</p>
		</form>
		<table class="permitsTable" id="permitsTable">
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>From</th>
				<th>To</th>
				<th>Type</th>
				<th>Status</th>
			</tr>
		</table>
	</div>


	<script type="text/javascript">
		//get and show approved permits
		$.ajax({
			url : "/permits?status=APPROVED",
			type : "GET",
			dataType : 'json',
			cache : false,
			success : function(response) {
				const permits = response;
				console.log(permits)
				const table = document.getElementById("permitsTable");
				permitsToTable(table, permits)
			}
		})

		function permitSearch() {
			const dropdownValue = document.getElementById("searchBy").value;
			const searchValue = document.getElementById("searchValue").value
			var queryParameter;
			if (dropdownValue === "Name") {
				const fullname = searchValue.split(" ");
				queryParameter = "fname=" + fullname[0] + "&lname="
						+ fullname[1];
			} else if (dropdownValue === "StartDate") {
				queryParameter = "start_date=" + searchValue;
			} else if (dropdownValue === "EndDate") {
				queryParameter = "end_date=" + searchValue;
			}
			const finalQueryParameters = string.concat(queryParameter,
					"&depId=" + depId)
			$.ajax({
				url : BASE_URL + "/permits=?" + finalQueryParameters,
				type : "GET",
				dataType : 'json',
				cache : false,
				success : function(response) {
					const permits = response
					const table = document.getElementById("permitsTable")
					permitsToTable(table, permits)
				}
			});
		}

		//remove all existing rows of the permit table, and populate it with the new permits
		function permitsToTable(table, permits) {
			while (table.rows.length > 1) {
				table.deleteRow(1);
			}
			for (var i = 0; i < permits.length; i++) {
				const tr = document.createElement('tr');

				const fname_td = document.createElement("td");
				const fname_text = document
						.createTextNode(permits[i].user.fname);
				fname_td.appendChild(fname_text);

				const lname_td = document.createElement("td");
				const lname_text = document
						.createTextNode(permits[i].user.lname);
				lname_td.appendChild(lname_text);

				const type_td = document.createElement("td");
				const type_text = document.createTextNode(permits[i].type);
				type_td.appendChild(type_text);

				const from_td = document.createElement("td");
				const from_text = document.createTextNode(permits[i].startDate);
				from_td.appendChild(from_text);

				const to_td = document.createElement("td");
				const to_text = document.createTextNode(permits[i].endDate);
				to_td.appendChild(to_text);

				const status_td = document.createElement("td");
				const status_text = document.createTextNode(permits[i].status);
				status_td.appendChild(status_text);

				tr.appendChild(fname_td);
				tr.appendChild(lname_td);
				tr.appendChild(from_td);
				tr.appendChild(to_td);
				tr.appendChild(type_td);
				tr.appendChild(status_td);

				table.appendChild(tr);
			}
		}
	</script>
</body>
</html>