<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Supervisor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="../static/css/supervisor.css"
	th:href="@{/css/supervisor.css}" rel="stylesheet">
</head>
<body>
	<div class="tab">
		<button class="tablinks" onclick="changeTab(event,'Pending')">Pending
			Review</button>
		<button class="tablinks" onclick="changeTab(event,'Permits')">Permits</button>
	</div>

	<div id="Pending" class="tabcontent">
		<table class="pendingTable"></table>
		<form>
			<p>
				<select id="searchByPending" name="dropdown">
					<option value="Name" selected>Name</option>
					<option value="StartDate">Start Date</option>
					<option value="EndDate">End Date</option>
				</select> <input type="text" id="searchValuePending" placeholder="Search...">
				<button type="button" onclick="permitSearchPending()">Search</button>
			</p>
		</form>
	</div>

	<div id="Permits" class="tabcontent">
		<table class="permitsTable"></table>
		<form>
			<p>
				<select id="searchBy" name="dropdown">
					<option value="Name" selected>Name</option>
					<option value="StartDate">Start Date</option>
					<option value="EndDate">End Date</option>
				</select> <input type="text" id="searchValue" placeholder="Search...">
				<button type="button" onclick="permitSearch()">Search</button>
			</p>
		</form>
	</div>

	<script type="text/javascript">
		const myCookie = readCookie(user);
		var user;
		//get me
		$.ajax({
			url : "/supervisor/me?token=" + myCookie,
			type : "GET",
			cache : false,
			success : function(response) {
				console.log(response)
				user = JSON.parse(response);
			}
		})
		//get and show permit requests pending review
		$.ajax({
			url : "/permits?status=pending",
			type : "GET",
			cache : false,
			success : function(response) {
				const permits = JSON.parse(response);
				permitsToTable("#pendingTable", permits)
			}
		})
		//get and show the permits for my department
		$.ajax({
			url : "/permits?dep=" + user.depID,
			type : "GET",
			cache : false,
			success : function(response) {
				const permits = JSON.parse(response)
				permitsToTable("#permitsTable", permits)
			}
		})

		//get permits based on the criteria the user specified
		function permitSearch() {
			const dropdownValue = document.getElementById("searchBy").value;
			const searchValue = document.getElementById("searchValue").value
			var queryParameter;
			if (dropdownValue === "Name") {
				const fullname = searchValue.split(" ");
				queryParameter = "fname=" + fullname[0] + "&lname="
						+ fullname[1];
			} else if (dropdownValue === "StartDate") {
				queryParameter = "start_date=" + searchValue + user.depId;
			} else if (dropdownValue === "EndDate") {
				queryParameter = "end_date=" + searchValue;
			}
			const finalQueryParameters = string.concat(queryParameter,
					"&depId=" + depId)

			$.ajax({
				url : "/permits=?" + queryParameter,
				type : "GET",
				cache : false,
				success : function(response) {
					const permits = JSON.parse(response)
					permitsToTable("#permitsTable", permits)
				}
			});
		}

		function permitSearchPending() {
			const dropdownValue = document.getElementById("searchByPending").value;
			const searchValue = document.getElementById("searchValuePending").value
			var queryParameter;
			if (dropdownValue === "Name") {
				const fullname = searchValue.split(" ");
				queryParameter = "fname=" + fullname[0] + "&lname="
						+ fullname[1];
			} else if (dropdownValue === "StartDate") {
				queryParameter = "start_date=" + searchValue;
			} else if (dropdownValue === "EndDate") {
				queryParameter = "end_date=" + searchValue;
			}
			const finalQueryParameters = string.concat(queryParameter,
					"&depId=" + depId)
			$.ajax({
				url : "/permits=?" + finalQueryParameters,
				type : "GET",
				cache : false,
				success : function(response) {
					const permits = JSON.parse(response)
					permitsToTable("#permitsTablePending", permits)
				}
			});
		}

		//remove all existing rows of the permit table, and populate it with the new permits
		function permitsToTable(tablename, permits) {
			$(tablename).remove();
			for (var i = 0; i < permits.length; i++) {
				var name = "<td>" + permits[i].name + "<td>";
				var status = "<td>" + permits[i].status + "<td>";
				var from = "<td>" + permits[i].fromDate + "<td>";
				var to = "<td>" + permits[i].toDate + "<td>";
				var button = "<button th:onclick = viewPermit(permits[i].id)>"
						+ View + "</button>";
				$(tablename).append(tr + name + status + from + to);
			}
		}
		function changeTab(evt, cityName) {
			// Declare all variables
			var i, tabcontent, tablinks;

			// Get all elements with class="tabcontent" and hide them
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}

			// Get all elements with class="tablinks" and remove the class "active"
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(
						" active", "");
			}

			// Show the current tab, and add an "active" class to the button that opened the tab
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}

		function viewPermit(id) {
			window.location.replace("/permits/" + id)
		}

		function readCookie(name) {
			var nameEQ = name + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1, c.length);
				if (c.indexOf(nameEQ) == 0)
					return c.substring(nameEQ.length, c.length);
			}
			return null;
		}
	</script>
</body>
</html>