<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Supervisor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
	moment().format();
</script>

<link href="../static/css/supervisor.css"
	th:href="@{/css/supervisor.css}" rel="stylesheet">
</head>
<body>
	<div class="tab">
		<button class="tablinks" onclick="changeTab(event,'Permits')"
			id="defaultOpen">Permits</button>
		<button class="tablinks" onclick="changeTab(event,'Pending')">Pending
			Review</button>
	</div>
	<div id="Permits" class="tabcontent">
		<p id="formValidationErrorPermit" class="formValidationError"></p>
		<p>
			<select id="searchBy" name="dropdown">
				<option value="Name" selected>Name</option>
				<option value="StartDate">Start Date</option>
				<option value="EndDate">End Date</option>
			</select> <input type="text" id="searchValue" placeholder="Search...">
			<button type="button" onclick="permitSearch()">Search</button>
		</p>
		<table id="permitsTable" class="permitsTable">
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>From</th>
				<th>To</th>
				<th>Type</th>
				<th>Status</th>
				<th>View</th>
			</tr>
		</table>
	</div>
	<div id="Pending" class="tabcontent">
		<p id="formValidationErrorPending" class="formValidationError"></p>
		<p>
			<select id="searchByPending" name="dropdown">
				<option value="Name" selected>Name</option>
				<option value="StartDate">Start Date</option>
				<option value="EndDate">End Date</option>
			</select> <input type="text" id="searchValuePending" placeholder="Search...">
			<button type="button" onclick="permitSearchPending()">Search</button>
		</p>
		<table id="pendingTable" class="pendingTable">
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>From</th>
				<th>To</th>
				<th>Type</th>
				<th>Status</th>
				<th>View</th>
			</tr>
		</table>

	</div>

	<script type="text/javascript">
		document.getElementById("defaultOpen").click();
		//const myCookie = readCookie(user);
		var user;
		//get me
		/*$.ajax({
			url : "/supervisor/me?token=" + myCookie,
			type : "GET",
			cache : false,
			success : function(response) {
				console.log(response)
				user = JSON.parse(response);
			}
		})*/

		//get and show the permits for my department
		$.ajax({
			url : "/permits",//"/permits?dep=" + user.depID,
			type : "GET",
			cache : false,
			success : function(response) {
				const permits = response //JSON.parse(response)
				permitsToTable(permits)
			}
		})

		//validate input for the permit search
		function formValidation(dropdownValue, searchValue) {
			 document.getElementById("formValidationErrorPending").innerHTML="";
			 document.getElementById("formValidationErrorPermit").innerHTML="";
			if (dropdownValue === "Name") {
				const fullname = searchValue.split(" ");
				if (fullname[0] == undefined || fullname[1] == undefined) {
					changeMessage("Both first and last name are required e.x John Doe");
					return false;
				}
			} else if (dropdownValue === "StartDate"
					|| dropdownValue === "EndDate") {
				const isValid = moment(searchValue, 'YYY-MM-DD', true)
						.isValid();
				if (!isValid) {
					changeMessage("Date must be in yyyy-mm-dd format");
				}
				return isValid;
			}
		}

		function changeMessage(message) {
			if (document.getElementById("Pending").style.display === 'block') {
				document.getElementById("formValidationErrorPending").innerHTML = message
			} else if (document.getElementById("Permits").style.display === 'block') {
				document.getElementById("formValidationErrorPermit").innerHTML = message;
			}
		}

		//get permits based on the criteria the user specified
		function permitSearch() {
			const dropdownValue = document.getElementById("searchBy").value;
			const searchValue = document.getElementById("searchValue").value;
			if (formValidation(dropdownValue, searchValue)) {
				var queryParameter = "";
				if (dropdownValue === "Name") {
					const fullname = searchValue.split(" ");
					queryParameter = "fname=" + fullname[0] + "&lname="
							+ fullname[1];
				} else if (dropdownValue === "StartDate") {
					queryParameter = "start_date=" + searchValue;
				} else if (dropdownValue === "EndDate") {
					queryParameter = "end_date=" + searchValue;
				}
				//const finalQueryParameters = string.concat(queryParameter,
				//		"&depId=" + depId)
				var url = "/permits";
				if (queryParameter !== "") {
					url += "?" + queryParameter
				}
				$.ajax({
					url : url,
					type : "GET",
					cache : false,
					success : function(response) {
						const permits = response
						permitSearchToTable(permits, document
								.getElementById("permitsTable"));

					}
				});
			}
		}

		function permitSearchPending() {
			const dropdownValue = document.getElementById("searchByPending").value;
			const searchValue = document.getElementById("searchValuePending").value
			if (formValidation(dropdownValue, searchValue)) {
				var queryParameter;
				if (dropdownValue === "Name") {
					const fullname = searchValue.split(" ");
					queryParameter = "fname=" + fullname[0] + "&lname="
							+ fullname[1];
				} else if (dropdownValue === "StartDate") {
					queryParameter = "start_date=" + searchValue;
				} else if (dropdownValue === "EndDate") {
					queryParameter = "end_date=" + searchValue;
				}
				//const finalQueryParameters = string.concat(queryParameter,
				//		"&depId=" + depId)
				var url = "/permits?status=PENDING&";
				if (queryParameter !== "") {
					url += queryParameter
				}
				console.log(url)
				$.ajax({
					url : url,
					type : "GET",
					cache : false,
					success : function(response) {
						const permits = response
						permitSearchToTable(permits, document
								.getElementById("pendingTable"));
					}
				});
			}
		}

		function permitSearchToTable(permits, table) {
			while (table.rows.length > 1) {
				table.deleteRow(1);
			}
			for (var i = 0; i < permits.length; i++) {
				if (!(table.id === "permitsTable" && permits[i].status === "PENDING")) {

					const tr = document.createElement('tr');

					const fname_td = document.createElement("td");
					const fname_text = document
							.createTextNode(permits[i].user.fname);
					fname_td.appendChild(fname_text);

					const lname_td = document.createElement("td");
					const lname_text = document
							.createTextNode(permits[i].user.lname);
					lname_td.appendChild(lname_text);

					const type_td = document.createElement("td");
					const type_text = document.createTextNode(permits[i].type);
					type_td.appendChild(type_text);

					const from_td = document.createElement("td");
					const from_text = document
							.createTextNode(permits[i].startDate);
					from_td.appendChild(from_text);

					const to_td = document.createElement("td");
					const to_text = document.createTextNode(permits[i].endDate);
					to_td.appendChild(to_text);

					const status_td = document.createElement("td");
					const status_text = document
							.createTextNode(permits[i].status);
					status_td.appendChild(status_text);

					const button_td = document.createElement("td");
					const button = document.createElement("BUTTON");
					var permitID = permits[i].permitID
					button.innerHTML = "View";
					button.onclick = function() {
						window.location.replace("supervisor/permits/"
								+ permitID)
					};
					button_td.appendChild(button);
					tr.appendChild(fname_td);
					tr.appendChild(lname_td);
					tr.appendChild(from_td);
					tr.appendChild(to_td);
					tr.appendChild(type_td);
					tr.appendChild(status_td);
					tr.appendChild(button_td);

					table.appendChild(tr);
				}
			}
		}
		//remove all existing rows of the permit table, and populate it with the new permits
		function permitsToTable(permits) {
			//remove previous entries
			const tablePermits = document.getElementById("permitsTable");
			const tablePending = document.getElementById("pendingTable");
			while (tablePermits.rows.length > 1) {
				tablePermits.deleteRow(1);
			}
			while (tablePending.rows.length > 1) {
				tablePending.deleteRow(1);
			}
			for (var i = 0; i < permits.length; i++) {
				const tr = document.createElement('tr');

				const fname_td = document.createElement("td");
				const fname_text = document.createTextNode(permits[i].user.fname);
				fname_td.appendChild(fname_text);

				const lname_td = document.createElement("td");
				const lname_text = document.createTextNode(permits[i].user.lname);
				lname_td.appendChild(lname_text);

				const type_td = document.createElement("td");
				const type_text = document.createTextNode(permits[i].type);
				type_td.appendChild(type_text);

				const from_td = document.createElement("td");
				const from_text = document.createTextNode(permits[i].startDate);
				from_td.appendChild(from_text);

				const to_td = document.createElement("td");
				const to_text = document.createTextNode(permits[i].endDate);
				to_td.appendChild(to_text);

				const status_td = document.createElement("td");
				const status_text = document.createTextNode(permits[i].status);
				status_td.appendChild(status_text);

				const button_td = document.createElement("td");
				const button = document.createElement("BUTTON");
				var permitID = permits[i].permitID
				button.innerHTML = "View";
				button.onclick = function() {
					window.location.replace("supervisor/permits/" + permitID)
				};
				button_td.appendChild(button);
				tr.appendChild(fname_td);
				tr.appendChild(lname_td);
				tr.appendChild(from_td);
				tr.appendChild(to_td);
				tr.appendChild(type_td);
				tr.appendChild(status_td);
				tr.appendChild(button_td);
				if (permits[i].status !== "PENDING") {
					tablePermits.appendChild(tr);
				} else
					tablePending.appendChild(tr)
			}
		}
		function changeTab(evt, tabName) {
			// Declare all variables
			var i, tabcontent, tablinks;

			// Get all elements with class="tabcontent" and hide them
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}

			// Get all elements with class="tablinks" and remove the class "active"
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(
						" active", "");
			}

			// Show the current tab, and add an "active" class to the button that opened the tab
			document.getElementById(tabName).style.display = "block";
			evt.currentTarget.className += " active";
		}

		function readCookie(name) {
			var nameEQ = name + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1, c.length);
				if (c.indexOf(nameEQ) == 0)
					return c.substring(nameEQ.length, c.length);
			}
			return null;
		}
	</script>
</body>
</html>