body, html{
    margin: 0;
    height: 100vh;
}

.container{
    background:darkgray;
    display: inline-block;
    text-align:center;
    min-height: 100vh;
}

.message{
    color:crimson
}

.table{
    margin:auto;
}
.message{
    margin:auto;
}